<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' http://* 'unsafe-inline';  script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'; media-src *; img-src 'self' data: content:;" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    <meta name="color-scheme" content="light dark">

    <link rel="stylesheet" href="../css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/favourites.css">
    <link rel="stylesheet" href="../css/fragments/navBar.css">
    <link rel="stylesheet" href="../css/fragments/loader.css">

    <script src="../cordova.js"></script>
    <script src="../js/lib/jquery-3.5.1.min.js"></script>
    <script src="../js/lib/mobileInit.js"></script>
    <script src="../js/lib/jquery.mobile-1.4.5.min.js"></script>
    <script src="../js/lib/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="loadingContainer blink">
      <div class="loader"></div>
      <div class="loadingText"></div>
    </div>

    <div class="container">
      <div class="content"></div>
    </div>

    <script src="../js/modules/Formatter.js"></script>
    <script src="../js/modules/TextsOrganiser.js"></script>
    <script src="../js/modules/LocalDB.js"></script>
    <script src="../js/modules/DataHandler.js"></script>
    <script src="../js/favourites.js"></script>
    <script src="../js/fragments/navBar.js"></script>
  </body>
</html>
